.form {
  display: flex;
  flex-direction: column;
  width: 408px;
  margin: 50px auto;
  gap: 15px;
}

.label-delay {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.input-delay {
  height: 40px;
}

.fieldset {
  display: flex;
  gap: 25px;
  height: 70px;
}

button {
  width: 140px;
  height: 50px;
  margin: 0 auto;
}
