/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./task.css');

@import url('izitoast/dist/css/iziToast.min.css');

:root {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* background-color: #e5eaf5; */
  min-height: 100vh;
}

.task-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Custom loader */
.loader {
  display: block;
  /* position: relative; */
  position: fixed;
  
  top: 10%; /* Position 25% from the top of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  z-index: 999;

  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 380px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* .loader */
.hidden {
  display: none;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 25%;
  height: 100%;
  width: 0;
  background: #4e75ff;
  animation: 0.5s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

/* .iziToast>.iziToast-close  {
  background-image: url('../img/bi_x-lg.svg');
  fill: #fff;
  opacity: 0;
  color: rgb(255, 255, 255);
} */
